.right-side{
    display: flex;
    float: right;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 200px;
}

.left-side {
    display: flex;
    justify-content: space-around;
}
.form-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    position:relative;
    margin-left: 10px;
    margin-right: 20px;
}

#randbtn, .login-button, .register-button, .del, #upload-contents{
border: 1px solid black;
padding: 10px;
background-color: black;
color: white;
border-radius: 10px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.first-page {
    text-shadow: 2px 2px #f9f9f9;
    font-size: 30px;
}

.latest-upload{
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: black;
    font-size: 18px;
}
.latest-news {
    background: #057379;
    margin-top: 10px;
    line-height: 1.8em;
    font-size: 19px;
    padding-right: 10px;
    li {
        color: white;
    }
}
.col-md {
    position: relative;
}
